<html lang="en-us">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>templateEngine</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"    />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"   />
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css"   />
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/v4-shims.css"   />
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
                integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"    />
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap"    />

            <link rel="stylesheet" type="text/css" href="../assets/css/reset.css"   /> 
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"   />
            <link rel="stylesheet" type="text/css" href="../assets/css/style01.css"   />

            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            
        </head>

        <body>
            <div class='wrapper'>
                <header>
                    <div class="header">
                        
                        <div class="row">
                            <div class="col-md-12">
                                <h1>My 'Pure Awesomeness' Team</h1>
                            </div>
                        </div>
                    </div>
                </header>

                <section id="mainContent">
                    <div class='row' id='managerContent'>

                    <div class="card managerCard col-sm-12 col-md-3 col-lg-3" style="width: 20rem;">
        <h5 class="card-title">DHANI</h5>
        <h6 class="card-subtitle mb-2 cardText"><i class="fas fa-suitcase"></i>MANAGER</h6>
        <div class="card-body">
            <p class="card-text">ID: 01</p>
            <p class="card-text">Email: <a href="#" class="card-link">dhani@pozitsolutions.com.au</a></p>
            <p class="card-text">Office Number: 01</p>
        </div>
    </div></div>
                    <div class='row' id='engineerContent'>

                    <div class="card engineerCard col-sm-12 col-md-3 col-lg-3" style="width: 20rem;">
        <h5 class="card-title">DORON</h5>
        <h6 class="card-subtitle mb-2 cardText"><i class="fas fa-screwdriver"></i>ENGINEER</h6>
        <div class="card-body">
            <p class="card-text">ID: 02</p>
            <p class="card-text">Email: <a href="#" class="card-link">doz07@hotmail.com</a></p>
            <p class="card-text">GitHub: <a href="https://github.com/doz07" target='_blank' class="card-link" >doz07</a></p>
        </div>
    </div><div class="card engineerCard col-sm-12 col-md-3 col-lg-3" style="width: 20rem;">
        <h5 class="card-title">DOMINO</h5>
        <h6 class="card-subtitle mb-2 cardText"><i class="fas fa-screwdriver"></i>ENGINEER</h6>
        <div class="card-body">
            <p class="card-text">ID: 05</p>
            <p class="card-text">Email: <a href="#" class="card-link">dom87@hotmail.com</a></p>
            <p class="card-text">GitHub: <a href="https://github.com/dom87" target='_blank' class="card-link" >dom87</a></p>
        </div>
    </div></div>
                    <div class='row' id='internContent'>

                    <div class="card internCard col-sm-12 col-md-3 col-lg-3" style="width: 20rem;">
        <h5 class="card-title">JAYDEN</h5>
        <h6 class="card-subtitle mb-2 cardText"><i class="fas fa-graduation-cap"></i>INTERN</h6>
        <div class="card-body">
            <p class="card-text">ID: 03</p>
            <p class="card-text">Email: <a href="#" class="card-link">jayden@hotmail.com</a></p>
            <p class="card-text">School: University of Technology</p>
        </div>
    </div><div class="card internCard col-sm-12 col-md-3 col-lg-3" style="width: 20rem;">
        <h5 class="card-title">MASON</h5>
        <h6 class="card-subtitle mb-2 cardText"><i class="fas fa-graduation-cap"></i>INTERN</h6>
        <div class="card-body">
            <p class="card-text">ID: 04</p>
            <p class="card-text">Email: <a href="#" class="card-link">mason@hotmail.com</a></p>
            <p class="card-text">School: University of New South Wales</p>
        </div>
    </div><div class="card internCard col-sm-12 col-md-3 col-lg-3" style="width: 20rem;">
        <h5 class="card-title">ARYA</h5>
        <h6 class="card-subtitle mb-2 cardText"><i class="fas fa-graduation-cap"></i>INTERN</h6>
        <div class="card-body">
            <p class="card-text">ID: 06</p>
            <p class="card-text">Email: <a href="#" class="card-link">arya@hotmail.com</a></p>
            <p class="card-text">School: Newington Public School</p>
        </div>
    </div></div>
                </section>
                <div class="push"></div>
            </div>
            <footer class="footer">
                <span class="text-muted">Copyright © 2020 POZ DRAFTING & IT SOLUTIONS - All Rights Reserved</span>
                <br />
                <a class="text-muted" href='#'>dhani@pozitsolutions.com.au</a>
                <span class="text-muted">| 0412 966 933</span>
                <br />
                <span class="text-muted">ROSE BAY, NSW</span>
            </footer>
        </body>
    </html>